.oeil-sharingan {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  width: 60px;
  height: 60px;
  animation: rotateSharingan 1s linear infinite;
}

@keyframes rotateSharingan {
  from {
    transform: translateX(-50%) rotate(360deg);
  }
  to {
    transform: translateX(-50%) rotate(0deg);
  }
}